body {
    background: #A6D7DE;
    text-align: center;
    color: #4974A5;
}

.button {
    background-color:#4974A5;
    color: #A6D7DE;
    padding: 20px 32px;
    text-align: center;
    font-size: 36px;
    margin: 15px;
    cursor: pointer;
}

.button_a {
    background-color:#4974A5;
    outline-color: #A6D7DE;
    color: #A6D7DE;
    padding: 10px 22px;
    text-align: left;
    font-size: 20px;
    margin: 15px;
    cursor: pointer;
}


img {
    width: 50 px;
}

#int_button {
    padding: 30;
}